/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 21, 2014, 3:51:57 PM
    Author     : klove
*/
.root {
    -fx-background-image: url("texture-8.jpg");
    -fx-opacity: 40;
    
}

.label {
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian, rgba(255,255,255,0.5), 0, 0, 0, 1);
}

.button {
    -fx-background-color: #ACACAC;
    -fx-text-fill: #FFFFFF;
}